{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1>Register</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.fullname) }}<br>
        {{ form_row(registrationForm.email) }}<br>
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}<br>
        {{ form_row(registrationForm.agreeTerms) }}<br>
<a  href="/login">Already have an account yet login here </a>
        <button type="submit" class="btn btn-primary">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}
